/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it

  font-family: 'Montserrat', sans-serif;

  font-family: 'Open Sans', sans-serif;
*/


html {
  scroll-behavior: smooth;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 320px;
  margin: auto;
}



.site-header {
  border: solid white 2px;
  background-image: url("../img/ligne-code.jpg");
  color: white;
  padding: 31px 30px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.site-header h1 {
  font-size: 26px;
  margin: 19px 0;
}

.site-header p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 21px 0;
}

.site-header em {
  color: #2afca6;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.presentation {
  background-color: #2afca6;
  color: #0a533b;
  padding: 30px 30px 28px;
  margin: 20px 0;
}

.presentation p {
  margin: 20px 0;
}

.presentation h2,
main h1,
article header h1,
h2 {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

article {
  background-color: white;
  padding: 29px 30px 34px;
  margin: 0 0 19px 0;
}

article header p {
  color: #b3b3b3;
  font-size: 12px;
  margin: 19px 0;
}

article p {
  margin: 19px 0;
}

figure {
  margin: 0;
  box-shadow: 0 0 10px #0000003b;
}

figcaption {
  margin-bottom: 34px;
  padding: 7px 20px 10px 9px;
  font-size: 12px;
  margin-bottom: 28px;
}

.date {
  color: black;
}

.author {
  color: #2afca6;
}

.button a {
  background-color: #444444;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding: 6px 15px;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

footer {
  color: white;
  border: solid 2px #2afca6;
  text-align: center;
}

footer p {
  margin: 16px 0;
  font-size: xx-small;
}